<button (click)="Dijkstra()" id="dijkstra" >Dijkstra</button>
<button (click)="random()" id="random" >Random</button>
<button (click)="reset()" id="reset" >Reset</button>
<button (click)="clearWalls()" id="clearWalls" >Clear Walls</button>


<div class="grid">
    <div  *ngFor="let row of matrix ; index as i">
        <div class="row" *ngFor="let col of row ; index as j">
            
            <app-node [i]="i" [j]="j" [animatePath]="animatePath"></app-node>
        </div>
    </div>

</div>





