

.grid {
  width: 80rem;
  height: 20rem;
    margin: auto;
    justify-content: center;
    display: grid;
    border-collapse: collapse;
  }

.row{

  display: grid;
  float: left;
}
.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  width: auto;
}