<mat-toolbar class="toolbar">

    <span class="example-spacer3"></span>
    <h1 (click)="reset()" >Pathfinder</h1>
    
    <span class="example-spacer3"></span>
    <div class="mx-auto">
        <a target="_blank" style="color: black;" href="https://github.com/IbrahimFneich/Pathfinder"><i  class="fa fa-github fa-lg"></i>‎‎‏‏‎</a>‏‏‎ ‎
        <a target="_blank" style="color: #2867B2;" href="https://www.linkedin.com/in/ibrahim-fneich/"><i  class="fa fa-linkedin-square fa-lg"></i></a>‏‏‎
    </div>
    
    <span class="example-spacer"></span>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="DFS()" id="DFS" >DFS</button>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="Dijkstra()" id="dijkstra" >Dijkstra</button>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="basicRandom()" id="basicRandom" >Basic Maze</button>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="wallsRandom()" id="wallsRandom" >Walls Maze</button>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="openDialog()" id="openDialog" >Help</button>


    <button mat-button color="primary" (click)="reset()" id="reset" >Reset</button>
    <!-- <button mat-button color="primary" (click)="clearWalls()" id="clearWalls" >Clear Walls</button> -->


</mat-toolbar>

<mat-toolbar class="toolbar">


   <span class="example-spacer"></span>
   <span class="example-spacer2">Unvisited</span> <div class="node" ></div> <span class="example-spacer"></span>
   <span class="example-spacer2">Start</span><div class="node node-start" ></div> <span class="example-spacer"></span>
   <span class="example-spacer2">Finish</span><div class="node node-finish" ></div> <span class="example-spacer"></span>
   <span class="example-spacer2">Visited</span><div class="node node-visited" ></div> <span class="example-spacer"></span>
   <span class="example-spacer2">Path</span><div class="node node-path" ></div> <span class="example-spacer"></span>
   <span class="example-spacer2">Wall</span><div class="node node-wall" ></div> <span class="example-spacer"></span>

  
  

</mat-toolbar>


<br>


<div class="grid">
    <div  *ngFor="let row of matrix ; index as i">
        <div class="row" *ngFor="let col of row ; index as j">
            
            <app-node [i]="i" [j]="j" [animatePath]="animatePath" ></app-node>
        </div>
    </div>
</div>





