<mat-toolbar class="toolbar">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Pathfinder</span>

    <span class="example-spacer"></span>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="Dijkstra()" id="dijkstra" >Dijkstra</button>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="basicRandom()" id="basicRandom" >basicRandom</button>
    <button mat-button [(disabled)]="isRunning" color="primary" (click)="wallsRandom()" id="wallsRandom" >wallsRandom</button>

    <button mat-button color="primary" (click)="reset()" id="reset" >Reset</button>
    <!-- <button mat-button color="primary" (click)="clearWalls()" id="clearWalls" >Clear Walls</button> -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar>


<br>


<div class="grid">
    <div  *ngFor="let row of matrix ; index as i">
        <div class="row" *ngFor="let col of row ; index as j">
            
            <app-node [i]="i" [j]="j" [animatePath]="animatePath"></app-node>
        </div>
    </div>
</div>





